		<div class="container">
          <div class="section">
            <div class="heading">
              <h2> Marketing Team </h2><hr>
            </div>
            <ul class="members">
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Chandan Sinha </h2>
                    <h3> Manager </h3>
                      <span><i class="fa fa-phone"></i></span>&nbsp;<span><a href="tel:+919494826729">+919494826729</a></span><br>
                    <span><i class="fa fa-envelope"></i></span>&nbsp;&nbsp;&nbsp;<span><a href="mailto:me13b1009@iith.ac.in">me13b1009@iith.ac.in</a></span>
                  </div>
                </div>
            </li>
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Chandan Sinha </h2>
                    <h3> Coordinator </h3>
                      <span><i class="fa fa-phone"></i></span>&nbsp;<span><a href="tel:+919494826729">+919494826729</a></span><br>
                    <span><i class="fa fa-envelope"></i></span>&nbsp;&nbsp;&nbsp;<span><a href="mailto:me13b1009@iith.ac.in">me13b1009@iith.ac.in</a></span>
                  </div>
                </div>
            </li> 
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Chandan Sinha </h2>
                    <h3> Coordinator </h3>
                      <span><i class="fa fa-phone"></i></span>&nbsp;<span><a href="tel:+919494826729">+919494826729</a></span><br>
                    <span><i class="fa fa-envelope"></i></span>&nbsp;&nbsp;&nbsp;<span><a href="mailto:me13b1009@iith.ac.in">me13b1009@iith.ac.in</a></span>
                  </div>
                </div>
            </li> 
          </ul>
        </div><br>
        <div class="section2">
          <div class="heading">
              <h2> Previous Sponsors </h2><hr>
            </div>
            <ul class="sponsor_line">
              <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
          </ul>
          <ul class="sponsor_line">
              <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
            <li class="childitem">
              <div class="details">
                  <img class="image" src="http://ironsummitmedia.github.io/startbootstrap-agency/img/team/1.jpg">
                <div class="contact">
                    <h2> Codex Design </h2>
                    <h3> Associate Sponsor </h3>
                  </div>
                </div>
            </li>
          </ul>

        </div>
      </div>