body {
  
}

.chart-wrapper {
  width: 80%;
  height: 100%;
  background-color:#171d25;
  position: absolute;
  left: 20%;
  overflow: hidden;
  font-size: 16px;
}

path {
 /* stroke-width: 5px; */
  cursor: pointer;
  -webkit-transition: fill 250ms;
          transition: fill 250ms;
}
path:hover {
  /* stroke-width: 10px; */
  fill: #fff;
}

text {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .5px;
}

polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1px;
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
button:hover {
  background-color: #fff;
  color: #0d0d0d;
  box-shadow: 0 0 2px #fff;
}
button:active {
  opacity: 0.5;
}